@media screen and (max-width: 700px) { /* Quando a regra definida nesse campo não for obedecia, será seguida a regra padrão (default) */
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}